html {
  background-color: #8D785F;
  height: 100%;
  width: 100%;
}

body {
  margin: 0; /* Remove margin to prevent body from adding space */
  height: 100%; /* Ensures body takes full height */
}

#fons {
  background-color: #F5DDB5;
  height: 600px;
  width: 90%;
  padding: 30px;
  margin: auto;
  text-align: middle;
  display: flex;
}
#fons2 {
  background-color: #DFBF9A;
  width: 60%;
  height: 430px;
  padding: 30px;
  margin:auto;
  text-align: right;
}
#fons2 p{
  font-size: 16px;
  font-family: "Koulen", sans-serif;
color: white;
}
#photo{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
#fons img:first-of-type {
  margin-left: 10px;
}

#fons img:last-of-type {
  float: right;
  margin-right: 10px;
}

#teksts {
  font-family: "Koulen", bolder;
  box-shadow: 40px;
  background-color:#8D785F ;
  color: white;
  text-align: center;
  width: 50%;
}

.koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 24px;



}
li{
  display: inline;
  text-decoration: none;
  margin-right: 30px;
}
#photo h1{
  background-color:#8D785F ;
}
#nav{
  background-image: url("nav.png");
  height: 191px;
}
#navigācija{
  text-align: right;
  padding-top: 60px;
  margin-right: 100px;
  color: white;
   font-family: "Koulen", sans-serif;
}
#galerija{
text-align: center;
  margin-top: -46px;;
}
.container{
  display: flex;
  flex-direction: row;
}
.gal-1{
margin-right: 20px;
}
  #container2{
    width: 800px;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    border: 1px ;
  }
  .gal-2{
    margin-right: 20px
  }
