html {
  background-color: #8D785F;
  height: 100%;
  width: 100%;
}

body {
  margin: 0; /* Remove margin to prevent body from adding space */
  height: 100%; /* Ensures body takes full height */
}
#fons {
  background-color: #F5DDB5;
  height: 600px;
  width: 90%;
  padding: 30px;
  margin-left: 90px;
  text-align: right;
  display: flex;
}
#fons2 {
  background-image:url("dzirnas.png");
  width: 90%;
  height: 430px;
  padding: 30px;
  margin:auto;
  text-align: right;
}

}
#photo{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
#fons img:first-of-type {
  margin-left: 10px;
}

#fons img:last-of-type {
  float: right;
  margin-right: 10px;
}

#teksts {
  font-family: "Koulen",  bolder;
  background-color:#DFBF9A ;
  color: white;
  text-align: center;
  width: 84%;
  margin: auto;
}

.koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;




}
li{
  display: inline;
  text-decoration: none;
  margin-right: 30px;
}
#photo h1{
  background-color:#DFBF9A ;

}
#nav{
  background-image: url("nav.png");
  height: 191px;

}
#navigācija{
  text-align: right;
  padding-top: 60px;
  margin-right: 100px;
  color: white;
   font-family: "Koulen", sans-serif;
}
#sudziba
{
  border-style: solid;
  border-width: 50px 80px;
  background-color: #DFBF9A;
  border-color: #F5DDB5;
  font-size: 27px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: "Koulen", sans-serif;
  margin-top: 100px;
}